/*ABOUT ME*/
  #aboutMeSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin: 1.5rem auto;
    padding: 1rem;
  }
  #aboutMeContainer{
    grid-column: 1;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
  }
  #devImageContainer{
    grid-column: 2;
  }
  #devImage{
    width: 100%;
    height: auto;
  }
  /*SOCIALS
  #socials {
    grid-column: 2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 9rem;
    height: 7rem;
  }
  #LiFavicon, #GhFavicon{
    width: 4rem;
  }
  #LiFavicon {
    margin-right: 0.2rem;
    grid-column: 1;
  }
  #GhFavicon {
    margin-left: 0.2rem;
    grid-column: 2;
  }
  #socialsHeading{
    text-align: center;
    margin: 0;
    grid-column: span 2;
  }*/
  
  /*EDUCATION*/
  #credentialsContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4;
    gap: 1.5rem;
    width: 100%;
  }
  #learningImg{
    grid-column: 1;
    grid-row: span 3;
    width: 100%;
    align-self: center;
  }
  #education{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }
  #credentials{
    grid-column: 2;
  }
  .credential p{
    font-size: 2rem;
    font-weight: 600;
  }
  .credential{
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .credentialImg{
    width: 100%;
  }
  details{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #283618;
  }
  #bachelorsDegree{
    grid-row: 2;
  }
  #deepLearningCert{
    grid-row: 3;
  }
  #webDesignCert{
    grid-row: 4;
  }

  #learnedStack{
    border-top: 5px double #283618;
  }
  #learningLatelyStack{
    border-bottom: 5px double #283618;
  }
  .techStackHeading{
    font-weight: 700;
    margin: 1rem auto;
    grid-column: span 4;
  }
  .techStackImg{
    display: inline;
    width: 3rem;
    margin: 0.5rem;
  }
  .techStackContainer{
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .techStackImgContainer{
    width: 1rem;
    margin: auto;
  }
  .techStackCaption{
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    margin: auto;
  }
  figcaption{
    justify-content: center;
    text-align: center;
    margin: auto;
    font-weight: 800;
    color: black;
  }
  summary{
    color: black;
  }

  /*PROJECTS*/
  #projectsContainer {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: auto;
  }
  .projectContainer{
    border: 5px double #283618;
    padding: 1rem;
    border-radius: 1rem;
  }
  .projectImg {
    width: 100%;
    height: auto;
    margin: 5px 0;
    grid-column: 1;
  }
  #sundustImg {
    grid-row: 1;
    grid-column: 1;
  }
  #groceryImg {
    grid-row: 1;
    grid-column: 2;
  }
  #incomeImg {
    grid-row: 2;
    grid-column: 1;
  }
  #projectsDiv {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
  }
  .projectButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    height: 50px;
    width: 80%;
    margin: auto;
  }
  .projectBtn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    margin: auto;
  }
  .learnMore{
    grid-column: 1;
  }
  .liveDemo{
    grid-column: 2;
  }
  .sourceCode{
    grid-column: 3;
  }
  .projectDescription{
    grid-column: 2;
    font-weight: 800;
    padding: 1rem;
  }

  /*HIRE ME*/
#hireMeSection{
    background-color: #BC6C25;
    margin: 0 auto;
    padding: 1rem;
}
#hireMe{
  color: #FEFAE0;
  text-shadow: 2px 2px 2px #283618, -1px -1px 1px #283618;
}
#hireMeContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.hireMeBtn{
  width: 100%;
  height: 3rem;
  margin: 1rem auto;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #FEFAE0;
}

/*SPLIT SCREEN COMPUTER OR LARGE TABLET*/
@media (max-width: 1080px) {
    #aboutMeSection{
      gap: 3rem;
    }
    .techStackContainer{
      grid-column: 1;
    }
    #credentialsContainer{
      width: 100%;
      margin: auto;
    }
    .credential p{
      font-size: 0.95rem;
      font-weight: 600;
    }
    details{
      font-size: 1rem;
      font-weight: 800;
      margin: 1rem;
      padding: 1rem;
    }
    .projectImg{
      width: 300px;
    }
    .projectDescription{
      padding-top: 20px;
    }
    #projectsContainer{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      margin: auto;
    }
    #sundustImg{
      grid-row: 1;
    }
    #groceryImg{
      grid-row: 2;
    }
    #incomeImg{
      grid-row: 3;
    }
  }
  
  /*MOBILE PHONE*/
  @media (max-width: 600px){
    .navContainer{
      height: 15rem;
    }
    .navContainer a,
    .navContainer p{
      margin: 0;
      padding: 0;
    }
    #aboutMeSection, #credentialsContainer{
      display: block;
      margin: 0;
      padding: 1rem;
    }
    #aboutMeContainer, #credentials, #learningLately, #devImage, 
    .credentialImg, .projectContainer, .techStackContainer{
        align-items: center;
        width: 100%;
        margin: 1rem auto;
    }
    #learningImg{
      display: none;
    }
    .projectImg{
        width: 100%;
      }
    #projectsContainer{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      margin: auto;
    }
    #sundustImg{
      grid-row: 1;
    }
    #groceryImg{
      grid-row: 2;
    }
    #incomeImg{
      grid-row: 3;
    }
  }
  