:root {
  line-height: 1.5;
  color: #331c00;
  background-color: #eee2df;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

  html {
    background: linear-gradient(
        to bottom right,
        rgba(254, 250, 224, 1.0),
        rgba(254, 250, 224, 0.7),
        rgba(254, 250, 224, 0.5),
        rgba(254, 250, 224, 0.7),
        rgba(254, 250, 224, 1.0)
      ),
      url("Images/texture2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 50, 0);
    overflow: hidden;
  }
  body {
    overflow: auto;
  }

  html,
  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  button {
    text-align: center;
    background: radial-gradient(
      rgba(252, 228, 216, 1) 0%,
      rgba(252, 215, 199, 0.7) 50%,
      rgba(247, 195, 170, 0.5) 70%,
      rgba(250, 143, 94, 0.3) 95%
    );
    color: black;
    border-radius: 10px;
  }
  button:hover {
    box-shadow: 2px 1px 4px rgb(57, 26, 0);
  }

  .sectionHeading {
    text-decoration: underline;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;
  }
  .sectionSubHeading {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
  }
  section {
    width: 100%;
    margin: 20px auto;
    padding: 5px;
  }

  .title, #heading {
    font-size: 5rem;
    margin: 0;
    padding: 1rem;
    background-color: #283618;
    color: #FEFAE0
  }
  .tagline {
    font-size: 2rem;
    margin-top: 0;
  }
  .title,
  .tagline {
    text-align: center;
  }

  /*JUMP TO*/
  .jumpTo {
    border: 1px solid rgba(13, 18, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgba(131, 133, 37);
    margin: auto;
  }
  .jumpTo a,
  .jumpTo p {
    display: inline;
    text-align: center;
    text-decoration: none;
    margin: auto 2rem;
    font-size: 2rem;
    color: rgb(253, 243, 233);
    text-shadow: 1px 1px 1px rgb(13, 6, 0), -1px -1px 1px rgb(13, 6, 1);
  }
  .jumpTo a:hover {
    text-shadow: 3px 4px 3px rgb(7, 3, 0), -2px -3px 2px rgb(34, 16, 4);
  }

  .navContainer {
    text-align: center;
    margin: auto;
  }

/*LEARN MORE PAGES*/
.learnMoreSection{
  font-size: 20px;
}
.whatDiv, .developmentSteps{
  font-weight: 800;
}
.stepNumber, .whatsNextDiv li{
  font-size: 20px;
  font-weight: bold;
}
.screenshot{
  width: 500px;
}
.keyDesignElements{
  grid-column: span 2;
}

  /*Backgrounds*/
  .solidBg{
    background-color: #DDA15E;
  }

  /*FOOTER*/
  footer {
    background-color: #283618;
    color: #FEFAE0;
    padding: 2rem;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
  }

@media (max-width: 1080px){
  .tagline{
    font-size: 1.5rem;;
  }
  .jumpTo a,
  .jumpTo p{
    margin: auto;
    padding: 0.5rem;
  }
}
