section{
    border-bottom: 5px double rgb(0, 24, 0);
}
.pages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 1.5rem;
}
.pageFeatures{
    grid-column: 1;
    width: 85%;
    margin: 1rem auto;
    padding: 1rem;
}
.pages img{
    grid-column: 2;
    width: 100%;
}
.pageFeatures li{
    margin: 10px auto;
}
#galleryFeatures{
    grid-row: span 2;
}
.sundustCard{
    width: 45%;
}
#sundustBusinessCard{
    text-align: center;
    margin: auto;
}
figcaption{
    margin: 10px auto;
    font-weight: 800;
}
.how{
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
  }
.stepNumber{
    margin-left: 2rem;
}
#next{
    width: 80%;
    margin: 1rem auto;
    border-bottom: none;
}
@media(max-width: 1080px){
    #backBtn{
        width: 20%;
    }
    .pages{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .pageFeatures, .pages img{
        grid-column: 1;
        width: 70%;
        margin: auto;
    }
}